
<div class="d-flex flex-column">
  <h5>New Person Form (Reactive)</h5>
  <form [formGroup]="form" class="d-flex flex-column">
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput type="text" formControlName="firstname">
      <mat-error>First name is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input type="text" matInput formControlName="lastname">
      <mat-error>Last name is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="text" matInput formControlName="email">
    </mat-form-field>
  </form>

  <button 
    mat-flat-button 
    color="primary"
    [disabled]="form.invalid"
    (click)="onSubmit()"
    >Submit</button>
    <button
      mat-flat-button
      (click)="onSetValue()"
    >Set Value</button>
</div>